* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box; /* Ensure padding and border are included in total width and height */
    font-size: 100%; /* Default font size */
    vertical-align: baseline; /* Align the baseline of the element with the baseline of its parent */
    background: transparent;
    color: #fff; /* White text color by default */
}

html,
body {
    width: 100%; /* Full width */
    height: 100vh; /* Viewport height */
    overflow: hidden; /* Hide scrollbars */
    background: #000; /* Black background */
}

#render-canvas {
    display: block; /* Remove inline-block spacing */
}
